<!--Block of Content-->
<div class="container bg-secondary text-white mt-5 mb-3">
  <div class="row align-items-center">

    <!--Image Web-->
    <div class="col-9 my-3">
      <img src="../assets/devop.png" alt="development image" width="100%" height="100%">
    </div>

    <!--Description-->
    <div class="col-3 p-3">

      Programming is fun, it is being able to do everything your mind imagines; but to make it a reality it is necessary to learn how to do it. That's why I made this site, for everyone who hasn't started yet at least know which path I took.

    </div>

  </div>
</div>

<!--Buttons & Actions-->
<div class="container-fluid btn-group btn-group-lg my-4" role="group" aria-label="Large button group">
  <a href="" type="button" class="btn btn-outline-warning"><i class="bi bi-kanban-fill"></i> Skills & Projects</a>
  <a href="" type="button" class="btn btn-outline-warning"><i class="bi bi-file-earmark-person-fill"></i> About</a>

  <a href="#offcanvasContact" type="button" class="btn btn-outline-warning" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasContact"><i class="bi bi-person-lines-fill"></i> Contact</a>

  <div class="offcanvas offcanvas-end bg-black text-white" tabindex="-1" id="offcanvasContact" aria-labelledby="offcanvasContactLabel">

    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasContactLabel">Contact</h4>
      <button type="button" class="btn-close bg-info" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <div class="mb-3">
        <label for="formControlInputCorreo" class="form-label">Email address</label>
        <input type="email" class="form-control" id="formControlInputCorreo" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="formControlTitle" class="form-label">Title</label>
        <input class="form-control" id="formControlTitle" rows="1" placeholder="Contact from FullstackWeb">
      </div>
      <div class="mb-3">
        <label for="formControlText" class="form-label">Text</label>
        <textarea class="form-control" id="formControlText" rows="6" placeholder="About..."></textarea>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-outline-info" onclick=""><i class="bi bi-send-fill"></i> Send</button>
      </div>

    </div>
  </div>

</div>